body {
    background-color: #1e1f21;
    height: 100%;
}

.centerMedia {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;

}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    margin-bottom: 10px;
    
    text-align: center;
    border-radius: 1px;


}

header h1 {
    margin: 0;
}



.main {
    display: flex;
    flex: 1;
    max-width: 100%;
    min-height: 95%; 

}

.menu {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    margin-right: 10px;
    max-width: 10%;
    padding: 1%;
    border-radius: 1px;
    
}

.submenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1vw;

}

.text {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 100%;
    
    padding: 1%;
    border-radius: 1px;

}


.imgAndText {
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
    justify-content: center;
    align-items: center;
    max-width: 80%;

    
}

.imgAndText img {
    max-width: 100%;
    max-height: 450px;
    object-fit: cover;
    border: 1px solid gray;

}

.collage {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}

