header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    margin-bottom: 5px;
    text-align: center;

}
header h1 {
    margin: 0;
}



.main {
    display: flex;
    height: 100%;
    
}

.menu {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    border-right: 1px solid gray;
    height: 100%;


}

.submenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1vw;
    max-width: 100%;

}

.text {
    margin-left: 5px;
    text-align: left;

}
.text h2 {
    text-align: center;
}

.text img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50vw;
}