header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    margin-bottom: 5px;
    text-align: center;

}
header h1 {
    margin: 0;
}



.main {
    display: flex;
    height: 100%;
    
}

.menu {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-right: 5px;
    border-right: 1px solid gray;
}

.text {
    margin-left: 5px;
}