body {
    background-color: darkred;
    margin: 0;
    height: 100%;
}

.centerMedia {
    background-color: white;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;

}

header {
    display: flex;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
    border-bottom: 1px solid gray;
    margin-bottom: 5px;
    text-align: center;

}

header h1 {
    margin: 0;
}



.main {
    display: flex;
    flex: 1;
    max-width: 100%;
    padding-left: 1%;
    padding-right: 1%;
    min-height: 95%;

    
}

.menu {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    border-right: 1px solid gray;
    min-height: 100%;
    max-width: 10%;


}

.submenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1vw;
    max-width: 100%;

}

.text {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 100%;

}


.imgAndText {
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    
}

.imgAndText img {
    max-width: 100%;
    border: 1px solid gray;
}

